::v-global(.van-cell__right-icon) {
  color: #9C73E7;
}
::v-global(.van-collapse-item__content) {
  font-size: 15px;
  font-weight: 600;
  background: transparent;
}
::v-global(.van-cell){
  background: transparent;
  color: #712BEF;
}

::v-global(.van-cell--clickable:active){
  background: transparent;
}

// 主题颜色
$theme-color: #021526;
$title-color: #F7AC3B;
$foot-color: #F38F1E;

p {
  color: #FFFFFF;
}

a {
  text-decoration: none; /* 去掉下划线 */
  color: inherit; /* 继承文字颜色 */
  cursor: pointer; /* 确保点击效果正常 */
}